.expenses-filter {
    color: white;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
  }
  
  .expenses-filter__control {
    margin: 1px;
  }
  
  .expenses-filter label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .expenses-filter select {
    font: inherit;
    font-weight: bold;
    border: none;
    background-color: #4b4b4bfd;
    color: white;
  }

  .expenses-filter select:active {
    border: none;

  }